@page "/category"
@inject AppDbContext db
@inject NavigationManager navi

<div class="container">
    <button class="btn btn-primary" @onclick="handleAdd">Add new category</button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in categories)
            {
                int nb = i.CategoryId;
                <tr>
                    <td>@i.CategoryId</td>
                    <td>@i.CategoryName</td>
                    <td>
                        <button @onclick="() => handleEdit(nb)" class="btn btn-primary">Edit</button>
                        <button @onclick="() => handleDelete(nb)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Category> categories = new();

    protected override async Task OnInitializedAsync()
    {
        categories = await db.Categories.OrderBy(c => c.CategoryId).ToListAsync();
    }

    private async Task handleDelete(int id)
    {
        var category = await db.Categories.FirstOrDefaultAsync(c => c.CategoryId == id);

        if (category != null)
        {
            db.Categories.Remove(category);
            db.SaveChanges();
        }
        categories = db.Categories.ToList();
    }

    private void handleEdit(int id)
    {
        navi.NavigateTo($"/addcategory/{id}");
    }

    private void handleAdd()
    {
        navi.NavigateTo("/addcategory");
    }
}

